.div1{
    text-align: left;
    background: black;
    font-size: 20px;
    border-style: inset;
    border-color: white;
    border-radius: 15px;
    margin-left: 250px;
    margin-right: 250px;
}
