body{
    font-family: 'Courier New', Courier, monospace;
    background-image: url(bg3.gif);
    background-attachment: fixed;
    background-size: cover;
    color: greenyellow;
    text-align: center;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    border: greenyellow;
    border-style: double;
    border-width: 4px;
}
button{
    margin-top: 30px;
    font-size: 30px;
    background-color: rgb(61, 61, 61);
    outline-style: solid;
    outline-color: palegreen;
    border-radius: 10px;
    outline-width: 5px;
}
a{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
div{
    background: black;
    font-size: 20px;
    border-style: inset;
    border-color: white;
    border-radius: 15px;
    margin-left: 350px;
    margin-right: 350px;
}

