body{
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    background-image: url(bg3.gif);
    background-attachment: fixed;
    background-size: cover;
    color: greenyellow;
    text-align: center;
}

h1{
    margin: 10px 0 10px 0;
    width: 100%;
    border-style: solid;
    border-color: white; 
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}

h1:hover{
    border-color: greenyellow;
    background-color: black;
    color: greenyellow;
}
.button_main_links{
    padding: 10px 32px;
    color: white;
    border: 2px solid white;
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
    background-color: rgb(61, 61, 61);
    text-decoration: none;
    display:inline-block;
    border-radius: 7px;
}

.button_main_links:hover{
    background-color: black;
    border-color: greenyellow;
    color: greenyellow;
}

.a_button{
    color: white;
    width: 500px;
}

.a_button:hover{
    color: greenyellow;
}

.a_head{
    color: white;
    margin: 0 5px 0 5px;
    border-color: white;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}
.g_head{
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    color: #ffffff;
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff, 0.025em 0.04em 0 #fffc00;
    animation: glitch 725ms infinite;
    margin: 0 5px 0 5px;
    border-color: white;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}

@keyframes glitch {
    0% {
        text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff, 0.025em 0.04em 0 #fffc00;
    }
    15% {
        text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff, 0.025em 0.04em 0 #fffc00;
    }
    16% {
        text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff, -0.05em -0.05em 0 #fffc00;
    }
    49% {
        text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff, -0.05em -0.05em 0 #fffc00;
    }
    50% {
        text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff, 0 -0.04em 0 #fffc00;
    }
    99% {
        text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff, 0 -0.04em 0 #fffc00;
    }
    100% {
        text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff, -0.04em -0.025em 0 #fffc00;
    }
}
.a_head:hover{
    color: greenyellow;
}

.div_p{
    
    border-top: 50px;
    border-bottom: 50px;
    border-style: solid;
    border-color: white;
    color: white;
    margin: 20px 40px 20px 40px;
    background: black;
    font-size: 20px;
    align-self: center;
}

.div_p:hover{
    border-color: greenyellow;
}

.all_p{
    width: 500px;
    color: white;
    
}

.all_p:hover{
    color: greenyellow;
}

.ul_head{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.li_head{
    float: left;
}

.li_head a{
    margin: 0 30px 0 0;
    display:block;
    color: white;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
}

.li_head a:hover{
    background-color: black;
    color: greenyellow;
}

.img_mp{
    border-color: white;
    border-style: solid;
    padding: 10px;
    margin-top: 50px;
}

.img_mp:hover{
    border-color: greenyellow;
}

.layout_padding1{
    padding-top: 50px;
}
.smimage{
    margin-left: 15px;
}